:root {
	--main-color: #0fc2c0;
	--dark: #015958;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

button {
	cursor: pointer;
	border: none;
	font-family: 'Roboto Condensed', sans-serif;
}

ul li {
	list-style: none;
}
